---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description = "I'm a developer and backend engineer based in Indonesia.",
  image = "/website.jpg",
  keywords = [
    "computer engineer",
    "diki haryadi",
    "rcti",
    "bacnkend developer",
    "backend engineer",
  ],
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<meta name="theme-color" content="#0a141f" />
<!-- Primary Meta Tags -->
<title>{title ? title + " ~ By Diki Haryadi" : "Diki Haryadi ~ Creative developer, expertise in backend."}</title>
<meta
  name="title"
  content={title
    ? title + " ~ By Diki Haryadi"
    : "~ By Diki Haryadi ~ Creative developer, expertise in backend."}
/>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta
  property="og:title"
  content={title
  ? title + " ~ By Diki Haryadi"
    : "~ By Diki Haryadi ~ Creative developer, expertise in backend."}
/>
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta name="keywords" content={keywords.join(", ")} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta
  property="twitter:title"
  content={title
  ? title + " ~ By Diki Haryadi"
    : "~ By Diki Haryadi ~ Creative developer, expertise in backend."}
/>
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />


